{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div style="position: relative; height: 100vh;">
	<div class="jumbotron text-center" style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); width:100%">
		<h1>Update Log Entry</h1>
	    <div class="container-fluid align-middle">
			<div class="row">
				<p>{{ form.instance.category }} | 
				{{ form.instance.work_start_time }} | 
				{{ form.instance.work_end_time }} | 
				{{ form.instance.comment }}</p>
			</div>
			<div class="row">
				 <form action="." class="form" method="post">
	                {% crispy form %}
	            </form>
			</div>
		</div>
	</div>

</div>


{% endblock content %}