{% extends "base.html" %}
{% block content %}
		<h1>Time Log</h1> <a href='{% url "timelog:add" %}'><button type="button" class="btn btn-lg btn-success align-center">Add</button></a>
			<table style="width:100%" class="table table-striped">
				<thead>
					<caption>Recent Entries</caption>
					<tr class="success">
						<th>Edit</th>
						<th>Reason</th>
						<th>Start</th>
						<th>End</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for obj in object_list %}
					<tr>
						<td class="text-left">
							<a href='{% url "timelog:update" pk=obj.id %}'>{{ obj.category }}
							<i class="glyphicon glyphicon-pencil text-left"></i></a>
						</td>
						<td class="text-left">
							{{ obj.reason }}
						</td>  
						<td class="text-left">
							{{ obj.work_start_time }}
						</td>
						<td class="text-left">
							{{ obj.work_end_time }}
						</td>
						<td class="text-left">
							<a href='{% url "timelog:delete" pk=obj.id %}'><i class="glyphicon glyphicon-remove-circle text-right"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
{% endblock content %}